<!-- Page Content -->
<header class="bg-primary py-5 mb-5">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <img src="https://angular.io/assets/images/logos/angular/angular.svg" />
        </div>
        <div class="clo-lg-10">
            <h1 class="display-4 text-white mt-5 mb-2">Desenvolvimento SPA com Angular</h1>
            <p class="lead mb-5 text-white">Você está pronto para aprender muito sobre este fantástico framework</p>
        </div>
    </div>
</header>

<div class="container main-container">
    <div class="row text-center">
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="/assets/colhido-vista-maos-digitando-laptop_1262-3196.jpg" height="164px"
                    width="253px" alt="">
                <div class="card-body">
                    <h4 class="card-title">Multiplataforma</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Saiba mais</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="/assets/empresario-aponta-graficos-e-simbolos_1232-917.jpg"
                    height="164px" width="253px" alt="">
                <div class="card-body">
                    <h4 class="card-title">Multiplataforma</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Saiba mais</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="/assets/fundo-abstrato-com-design-baixo-poli_1048-8478.jpg"
                    height="164px" width="253px" alt="">
                <div class="card-body">
                    <h4 class="card-title">Multiplataforma</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Saiba mais</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top"
                    src="/assets/grupo-de-pessoas-diversas-tendo-uma-reuniao-de-negocios_53876-25060.jpg" height="164px"
                    width="253px" alt="">
                <div class="card-body">
                    <h4 class="card-title">Multiplataforma</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Saiba mais</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fim Page Content -->
