<div class="jumbotron jumbotron-sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="h1">
                    Contate-nos</h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="well well-sm">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">
                                    Nome</label>
                                <input type="text" class="form-control" id="txtNome" placeholder="Informe seu nome"
                                    required="required" />
                            </div>
                            <div class="form-group">
                                <label for="email">
                                    E-Mail</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                    </span>
                                    <input type="email" class="form-control" id="txtEmail"
                                        placeholder="Informe seu e-mail" required="required" /></div>
                            </div>
                            <div class="form-group">
                                <label for="subject">
                                    Assunto</label>
                                <select id="subject" name="subject" class="form-control" required="required">
                                    <option value="na" selected="">Selecione um assunto</option>
                                    <option value="service">Serviços</option>
                                    <option value="suggestions">Sugestões</option>
                                    <option value="product">Suporte a produtos</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">
                                    Message</label>
                                <textarea name="message" id="message" class="form-control" rows="9" cols="25"
                                    required="required" placeholder="Mensagem"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary pull-right" id="btnEnviar">
                                Enviar </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <form>
                <legend><span class="glyphicon glyphicon-globe"></span></legend>
                <address>
                    <strong>Desenvolvedor Felipe dos Santos</strong><br>
                    Rua Cosme Velho, 37 - Durval de Barros<br>
                    Contagem / MG - CEP: 32242-320<br>
                    <abbr title="Celular">Cel:</abbr>
                    (31) 9 8478-0269
                </address>
                <address>
                    <strong>E-Mail</strong><br>
                    <a href="mailto:#">tecnicofelipesantos@gmail.com</a>
                </address>
            </form>
        </div>
    </div>
</div>
