/* You can add global styles to this file, and also import other style files */
.main-container{
    padding-top: 100px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 100px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}

.footer{
    height: 50px;
    text-align: center;
}

.jumbotron {
    background: #358CCE;
    color: #FFF;
    border-radius: 0px;
    
}
.jumbotron-sm { 
    padding-top: 85px;
    padding-bottom: 24px; 
}

.jumbotron small {
    color: #FFF;
}

.h1 small {
    font-size: 24px;
}
